/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
  border: #333 solid;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-round {
  border: none;
  color: white;
  background-color: rgb(229, 106, 127);
  border-radius: 10px;
  padding: 8px 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.new-round:hover {
  background-color: rgb(233, 84, 109);
}
